body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--OCEAN, #404bbf);
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--OCEAN, #404bbf);
}

.section-hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.section-hero-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-hero-button {
  color: var(--WHITE, #fff);
  background: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.section-hero-button:hover,
.section-hero-button:focus {
  background: var(--OCEAN, #404bbf);
}

.section-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-list-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-list-paragraph {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team-center {
  color: var(--SLATE, #434455);
  text-align: center;
}

.footer {
  width: 1440px;
  height: 312px;
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-paragraph {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
